@{
    ViewData["Title"] = "Início - TaskList";
}

<div class="text-center">
    <h1 class="display-4 text-primary">TaskList </h1>
    <p class="lead">Sistema de gerenciamento de tarefas por categorias</p>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h3 class="card-title">Categorias</h3>
                <p class="card-text">Organize suas tarefas em categorias personalizadas.</p>
                <a asp-area="" asp-controller="CategoriaModels" asp-action="Create" class="btn btn-success mt-2">
                    <i class="bi bi-plus-square"></i>
                    Criar categoria
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h3 class="card-title">Tarefas</h3>
                <p class="card-text">Crie, edite e acompanhe o progresso das suas tarefas.</p>
                <a asp-area="" asp-controller="TarefaModels" asp-action="Create" class="btn btn-success mt-2">
                    <i class="bi bi-plus-square"></i>
                    Criar tarefa    
                </a>
            </div>
        </div>
    </div>

</div>

<div class="row mt-5 text-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Este projeto demonstra:</h5>
            </div>
            <div class="card-body">

                <ul class="mb-3 list-group">
                    <li class="list-group-item">CRUD completo de tarefas e categorias</li>
                    <li class="list-group-item">Opções de filtros para categorias e tarefas</li>
                    <li class="list-group-item">Paginação</li>
                    <li class="list-group-item">Arquitetura MVC do ASP.NET Core</li>
                    <li class="list-group-item">Temas claro e escuro</li>
                </ul>
            </div>
        </div>
    </div>
</div>